**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!apps
!apps/relay-node
!apps/relay-node/package.json
!apps/relay-node/tsconfig.json
!apps/relay-node/tsdown.config.ts
!apps/relay-node/src
!apps/relay-node/src/**
!packages
!packages/protocol
!packages/protocol/package.json
!packages/protocol/tsconfig.json
!packages/protocol/src
!packages/protocol/src/**
!packages/relay-core
!packages/relay-core/package.json
!packages/relay-core/tsconfig.json
!packages/relay-core/src
!packages/relay-core/src/**
!LICENSE
!TRADEMARK.md
!THIRD_PARTY_NOTICES.md
